# Foundry build artifacts & cache
out/
cache/

# Broadcasts 
broadcast/

# Node & editors
node_modules/
.vscode/

# Env files
.env
.env.*

# Forge debug artifacts
*.t.sol.json
*.dbg.json

# Docs
docs/

# Coverage artifacts
lcov.info
coverage/
coverage.json
